.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  font-size: 40pt;
  color: rgb(122, 79, 26);
  height: 80px;
}

.nav {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  font-size: 20pt;
  gap: 15px;
}

.nav a {
  text-decoration: none;
  color: rgb(78, 57, 29);
}

.main {
  flex-grow: 1;
  padding: 0px 5px;
  display: flex;
  background-color: rgb(231, 220, 205);
}

.sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(80, 55, 25);
  background-color: rgb(189, 168, 27);
  width: 250px;
  height: 80px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}

.article {
  padding-left: 20px;
  margin-left: 10px;
  font-size: 16pt;
  max-width: 900px;
}

.testimonial {
  background-color: rgb(199, 196, 159);
  font-size: 15pt;
  width: 590px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(189, 168, 25);
  color: rgb(116, 83, 22);
  font-size: 20pt;
  padding: 5px, 0, 10px;
}
